{
  "credentials": [
    {
      "type": "SMB",
      "server": "192.168.x.x",
      "port": 445,
      "username": "your_username",
      "password": "your_password",
      "shareName": "your_share",
      "folder": "",
      "domain": null
    },
    {
      "type": "SFTP",
      "server": "your.sftp.server",
      "port": 22,
      "username": "your_username",
      "password": "your_password",
      "folder": ""
    },
    {
      "type": "FTP",
      "server": "your.ftp.server",
      "port": 21,
      "username": "your_username",
      "password": "your_password",
      "folder": ""
    }
  ]
}
